/*
 * Use this CSS to learn some intersting techniques,
 * in case you're wondering how I built the UI.
 * Have fun! 😁
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    color: #444;
    background-color: #f3f3f3;
    height: 100vh;
    padding: 2rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  
  .welcome {
    font-size: 1.9rem;
    font-weight: 500;
  }
  
  .logo {
    height: 5.25rem;
  }
  
  .login {
    display: flex;
  }
  
  .login__input {
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    width: 12rem;
    border-radius: 10rem;
    margin-right: 1rem;
    color: inherit;
    border: 1px solid #fff;
    transition: all 0.3s;
  }
  
  .login__input:focus {
    outline: none;
    border: 1px solid #ccc;
  }
  
  .login__input::placeholder {
    color: #bbb;
  }
  
  .login__btn {
    border: none;
    background: none;
    font-size: 2.2rem;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
  }
  .acc__input {
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    max-width: 300px;
    border-radius: 10rem;
    margin-right: 1rem;
    color: inherit;
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.3s;
    margin: 10px;
  }
  .transaction_amount {
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    width: 300px;
    border-radius: 10rem;
    margin-right: 1rem;
    color: inherit;
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.3s;
    margin: 10px;
  }
  
  .login__btn:hover,
  .login__btn:focus,
  .btn--sort:hover {
    outline: none;
    color: #777;
  }
  .login__input__wrong {
    border: 1px solid rgb(215, 13, 13) !important ;
  }
  
  /* MAIN */
  .app {
    position: relative;
    max-width: 100rem;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 15rem) auto;
    gap: 2rem;
  
    /* NOTE This creates the fade in/out anumation */
    opacity: 0;
    transition: all 1s;
  }
  
  .balance {
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .balance__label {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: -0.2rem;
  }
  
  .balance__date {
    font-size: 1.4rem;
    color: #888;
  }
  
  .balance__value {
    font-size: 4.5rem;
    font-weight: 400;
  }
  
  /* MOVEMENTS */
  .movements {
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 1rem;
    overflow: scroll;
  }
  
  .movements__row {
    padding: 2.25rem 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
  
  .movements__type {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 0.1rem 1rem;
    /* border-radius: 10rem; */
    margin-right: 2rem;
  }
  
  .movements__date {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
  }
  
  .movements__type--deposit {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
  }
  
  .movements__type--withdrawal {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  }
  
  .movements__value {
    font-size: 1.7rem;
    margin-left: 5rem;
  }
  .movements__interest {
    margin-left: auto;
  }
  /* SUMMARY */
  .summary {
    grid-row: 5 / 6;
    display: flex;
    align-items: baseline;
    padding: 0 0.3rem;
    margin-top: 1rem;
  }
  
  .summary__label {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 0.8rem;
  }
  
  .summary__value {
    font-size: 2.2rem;
    margin-right: 2.5rem;
  }
  
  .summary__value--in,
  .summary__value--interest {
    color: #66c873;
  }
  
  .summary__value--out {
    color: #f5465d;
  }
  
  .btn--sort {
    margin-left: auto;
    border: none;
    background: none;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  /* OPERATIONS */
  .operation {
    border-radius: 1rem;
    padding: 3rem 4rem;
    color: #333;
  }
  
  .operation--transfer {
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);
  }
  
  .operation--loan {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
  }
  
  .operation--close {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  }
  
  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
  }
  
  .form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem;
  }
  
  .form__label--loan {
    grid-row: 2;
  }
  /* End exceptions */
  
  .form__input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    padding: 0.3rem 1rem;
    border-radius: 0.7rem;
    transition: all 0.3s;
  }
  
  .form__input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .form__label {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
  }
  
  .form__btn {
    border: none;
    border-radius: 0.7rem;
    font-size: 1.8rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .form__btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .logout-timer {
    padding: 0 0.3rem;
    margin-top: 1.9rem;
    text-align: right;
    font-size: 1.25rem;
  }
  
  .timer {
    font-weight: 600;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100rem;
    background-color: white;
    border-radius: 9px;
  
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
    z-index: 75;
    transition: all 0.5s;
  }
  .signUp {
    position: fixed;
    bottom: 10%;
    right: 10%;
  }
  .signUp-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 0 1px rgba(105, 103, 103, 0.25);
    z-index: 30;
    background-color: #9ae19d;
    /* border: 1px solid black; */
  }
  .btn--close-modal,
  .btn--close-modal-account {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 1.6rem;
    font-size: 3.5rem;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  .overlay,
  .overlayMessages {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 75;
    transition: all 0.5s;
  }
  .overlayMessages {
    z-index: 90;
  }
  .overlayAcc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 40;
    transition: all 0.5s;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
  }
  
  .btn-grp {
    right: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 20%;
    position: absolute;
    /* transform: translateX(-200%); */
  }
  .accept__btn,
  .reject__btn,
  .btn--increase--time,
  .logout-btn {
    /* border: none; */
    border-radius: 0.7rem;
    font-size: 1.8rem;
    /* background-color: #fff; */
    cursor: pointer;
    transition: all 0.3s;
    width: 40%;
  }
  .logout-btn {
    background-color: rgba(245, 70, 93, 0.7);
    color: #000;
    padding: 2px 20px;
    width: auto;
  }
  .accept__btn,
  .btn--increase--time {
    background-color: #41b57f;
  }
  .btn--increase--time {
    position: absolute;
    right: 10%;
    height: 40px;
  }
  .reject__btn {
    background-color: #f5465d;
  }
  .messages {
    width: auto;
    z-index: 100;
  }
  .messages-title {
    color: #f5465d;
  }
  
  .create-account-form {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 4rem 2rem;
    /* padding: 0 20px; */
    height: 50%;
  }
  .create-account {
    height: 50%;
    width: auto;
    z-index: 50;
  }
  .create-account-labels,
  .create-account-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
  }
  #acc__input--deposit {
    width: 100%;
  }
  .create__acc__btn,
  .confirm_transaction__btn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    border-radius: 10px;
    width: auto;
    /* height: 20px; */
    padding: 10px;
  }
  .transaction-form {
    width: 300px;
    display: none;
  }
  .transaction-typeBox {
    justify-content: space-between;
    display: flex;
    padding-top: 20px;
    align-items: center;
    font-size: 24px;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  tr {
    height: 60px;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    /* display: flex; */
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .sort--active {
    border: 1px solid black;
    padding: 5px;
    background-color: #66c873;
    color: white;
    border-radius: 10px;
    font-size: 16px;
  }